NEXT_PUBLIC_SUPABASE_URL=https://ksdcmdzqgkliivwgubic.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzZGNtZHpxZ2tsaWl2d2d1YmljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0OTQ2MjAsImV4cCI6MjA5NTA3MDYyMH0.oLZubyCDM2ZTMlsjkqXHHZ71YVR88SPWW6Dpct7bspc
